<h1> {{vm.user.firstName}}! You can view the log entries </h1>
<div class="col-12">
	<div class="row-fluid">
		<div class="col-6">
			<h3>All registered users:</h3>
			<ul>
			    <li ng-repeat="user in vm.allUsers">
			        {{user.username}} ({{user.firstName}} {{user.lastName}})
			        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
			    </li>
			</ul>
		</div>
		<div class="col-6">
			<div id="container" ng-app='two_way' ng-controller='two_way_control'>
		      <div class="row" ng-repeat="data in user_names">
		        <div style="background-color:#eee;height:150px;width:500px;margin-left:240px;margin-top:20px;">
		          {{data.user_name}}
		          {{data.image_date}}
		          </div>
		      </div>
    		</div>
		</div>
	</div>
</div>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>